---
layout: default
---
{% assign author = site.data.authors[page.author] %}

<h2>{{ page.title }}</h2>

<time datetime="{{ page.date }}">
  <small>
    <strong>{{ page.date | date_to_string }}</strong>
    {% if author %}
      by {{ author.name }}
    {% endif %}
  </small>
</time>

{% include page-intro.html %}

{{ content }}

<quote>If you like my content or it was helpful, you can motivate me to write more content by <a href="https://www.buymeacoffee.com/R3i9IQJ" rel="prev">buying me a coffee</a></quote>

{% if site.disqus %}
    {% include disqus.html %}
{% endif %}


<nav aria-label="Adjacent Posts">
  <ul>
    {% if page.previous.url %}
      <li>
        <a href="{{page.previous.url}}" rel="prev">&laquo; {{page.previous.title}}</a>
      </li>
    {% endif %}
    {% if page.next.url %}
      <li>
        <a href="{{page.next.url}}" rel="next">{{page.next.title}} &raquo;</a>
      </li>
    {% endif %}
  </ul>
</nav>
